extends layout

block content
	//- h1= title
	if locals.currentUser
		h2 Welcome, #{locals.currentUser.first_name}
		hr
		a.edit(href="/create") ㊉ Message
		br
		if !locals.member
			a.edit.join(href="/join") Join the club!
			form(action='/create/'+locals.currentUser._id method="POST")
			if join
				form.cform(action="/join/"+locals.currentUser._id method="POST")
					input(type="password" name="join_pass")
					button.submit(type="submit") Join
		each msg in msgs
			.msg
				if locals.member
					h4= msg.user.full_name 
				h3= msg.title 
				p= msg.content
				if locals.currentUser.admin 
					a.edit(href="/delete/"+msg._id) delete 
		else
			p No messages yet
		br
		a(href="/log-out") 
			button.submit.logout Log Out 
	else
		.form
			form(action="/log-in" method="POST")
				p.title Welcome to #{title}!
				.input-container.ic1
					input#last_name.input(type="email" name="username" placeholder=" " required)
					.cut
					label.placeholder(for="email") Email
				.input-container.ic2
					input#password.input(type="password" name="password" placeholder=" " required)
					.cut
					label.placeholder(for="password") Password
				button.submit(type="submit") Log In
			a(href="/sign-up")
				button.submit Sign Up 
					
		
